:root {
  --primary-color-L: #e3f3e4;
  --primary-color-D: #42b14a;
  --secondary-color: #f29420;
  --tertiary-color: #5f3938;
  --text-color: var(--tertiary-color);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 5000px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
}
/***************************************
* Bootstrap Navbar - overrides
****************************************/
.navbar-light .navbar-toggler {
  color: var(--primary-color-D) !important;
  border-color: var(--primary-color-D) !important;
}
/***************************************
* Bootstrap Canvase - overrides
****************************************/
.offcanvas-header {
  padding: 0.6rem !important;
  background: var(--primary-color-D);
  color: #fff;
}
