.cartBtn,
.cartBtn:hover,
.cartBtn:focus {
  background: transparent !important;
  border: 0 !important;
  padding: 0rem !important;
  margin: 0.25rem 0.5rem !important;
  color: var(--primary-color-D) !important;
}
.cartBtn i {
  font-size: 20px;
}
.cartBtn span {
  position: relative;
  top: 0px;
  left: -7px;
  font-size: 11px;
  background-color: var(--secondary-color);
  border-radius: 50px;
  height: 16px;
  line-height: 16px;
  color: #fff;
  min-width: 16px;
  text-align: center;
  padding: 0 5px;
  display: inline-block;
  vertical-align: top;
  margin-inline-start: -5px;
  margin-inline-end: -5px;
}
.titleTxt {
  margin-inline-start: 0.5rem;
}
