.product {
  background-color: var(--primary-color-L);
  position: relative;
  margin-bottom: 30px;
  border: 1px solid var(--light-color);
}
.product,
.productImg {
  border-radius: 8px;
}
.productImg {
  position: relative;
  overflow: hidden;
  margin: 5px;
  background-color: #fff;
}
.productImg::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.imageContainer {
  width: 100%;
  height: 200px;
}
.productImg img {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.product:hover .productImg:before {
  opacity: 1;
}

.productInfo {
  padding: 15px;
}
.productTitle h6 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
}
.discount {
  text-decoration: line-through;
  font-size: 12px;
}
.unit {
  color: var(--light-color);
}
.price {
  display: flex;
  align-items: center;
  gap: 5px;
}
.addToCart {
  border: 1px solid var(--primary-color-D) !important;
  background-color: var(--light-color-1) !important;
  color: var(--primary-color-D) !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 0 !important;
  transition: all 0.3s ease-in-out;
}
.addToCart:hover {
  background-color: var(--primary-color-D) !important;
  color: #fff !important;
}
.outOfStock::after {
  content: "Out of Stock";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color-D);
  color: #fff;
  padding: 15px 20px;
  font-size: 12px;
  z-index: 99;
  width: calc(100% - 30px);
  text-align: center;
}
.outOfStock::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(161, 216, 165, 0.4);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
