.pageWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
.footerContainer {
  margin-top: auto;
}
.footer {
  background-color: var(--tertiary-color);
  color: #fff;
  background-image: url("/footerImgR.svg"), url("/footerImgL.svg");
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
}
.motivationalMS {
  text-align: center;
  font-size: 1.2rem;
  padding: 1.5rem 0;
  background-color: var(--primary-color-D);
  color: #fff;
  font-style: italic;
}
@media only screen and (max-width: 767px) {
  .footer {
    background-image: none;
  }
}
